@model CustomerDetailsModel

<div class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MiddleName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MiddleName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Suffix)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Suffix)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Company)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Company)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DisplayNameAs)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DisplayNameAs)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Mobile)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Mobile)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Fax)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Fax)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Website)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Website)
    </dd>
</div>
<div>
    <a asp-controller="Customer" asp-area="" asp-action="Edit" asp-route-Id="@Model.Id">Edit</a>
</div>
