@model CustomerModel

<h2>@Model.FirstName Details</h2>
<p>Company: @Model.Company</p>
<p>Id: @Model.CustomerId</p>
<p>Email: @Model.Email</p>
<email address="@Model.Email" content="Email person!"></email>
<p>First Name: @Model.FirstName</p>
<p>LastName: @Model.LastName</p>
<p>Mobile: @Model.Mobile</p>
<p>Phone: @Model.Phone</p>
